node_modules
.next
out
build
dist

# Environment variables
.env
.env.local
.env.*.local

# Sensitive files
/src/generated/prisma
prisma/dev.db
prisma/dev.db-journal

# IDEs and OS files
.DS_Store
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
.eslintcache
tsconfig.tsbuildinfo
